<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Imagre</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/css/Hero-Clean.css">
    <link rel="stylesheet" href="static/css/Hero-Features.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#top"><strong>Imagre</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#top">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#scope">Scope</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#demo">Demo</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#our_team">Team</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="top" class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background: url(&quot;static/img/Neural-Network-2.svg&quot;) no-repeat;background-size: auto;transform: scale(1.35);"></div>
                <div class="about-me">
                    <p><strong>Imagre</strong> attempts to reconstruct images from fMRI data using CNNs and DCNNs and GANs</p>
                </div>
            </div>
        </section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6">
                    <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="static/img/Screenshot%202022-07-17%20at%204.26.48%20PM.png"></div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-center">
                    <div style="max-width: 350px;">
                        <h2 class="text-uppercase fw-bold">fmri</h2>
                        <p class="my-3">Functional Magnetic Resonance Imaging&nbsp;<br>The fMRI measures the hemodynamic response that reflects the level of brain activity.&nbsp;&nbsp;</p><a class="btn btn-outline-primary btn-lg" role="button" href="https://en.wikipedia.org/wiki/Functional_magnetic_resonance_imaging">Wikipedia</a>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div style="height: 600px;background: url(&quot;static/img/Screenshot%202022-07-17%20at%204.27.11%20PM.png&quot;) top / contain no-repeat;transform: translateY(-132px);"></div>
            <div class="container h-100 position-relative" style="top: -50px;">
                <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body pt-5 p-4">
                                <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-grid">
                                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
                                    </svg></div>
                                <h4 class="card-title">Encoder</h4>
                                <h6 class="text-muted card-subtitle mb-2">Pre-Trained on VGG-19</h6>
                                <p class="card-text">We build the encoder network using VGG-19 model pre-trained on ILSVRC2012.&nbsp;&nbsp;</p>
                            </div>
                            <div class="card-footer p-4 py-3"><a href="#"></a></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body pt-5 p-4">
                                <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill">
                                        <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"></path>
                                    </svg></div>
                                <h4 class="card-title">Decoder</h4>
                                <h6 class="text-muted card-subtitle mb-2"></h6>
                                <p class="card-text">The fMRI decoder is constructed using a linear regression model. We use Ridge Regression with L2 normalization.&nbsp;&nbsp;</p>
                            </div>
                            <div class="card-footer p-4 py-3"><a href="#"></a></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body pt-5 p-4">
                                <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-columns-gap">
                                        <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"></path>
                                    </svg></div>
                                <h4 class="card-title">Reconstruction Network</h4>
                                <h6 class="text-muted card-subtitle mb-2">DCNN-GAN</h6>
                                <p class="card-text">The Reconstruction Network is a deconvolution network with 4 layers. The GAN is then trained using the output from the previous layers.&nbsp; The GAN can optimize the generation of images by introducing category specific prior knowledge.&nbsp; &nbsp;</p>
                            </div>
                            <div class="card-footer p-4 py-3"><a href="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="demo" class="py-4 py-xl-5">
            <div class="container h-100">
                <div class="text-white bg-primary border rounded border-0 p-4 py-5">
                    <div class="row h-100">
                        <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div>
                                <h1 class="text-uppercase fw-bold text-white mb-3">Demo</h1>
                                <p class="mb-4">Below is a demonstration of how our model works and its real-time output.&nbsp; We have used flask to integrate our model into this SPWA</p><button class="btn btn-light fs-5 py-2 px-4" type="button" style="color: var(--bs-blue);">Imagre is live</button><br>
                                <form method="POST" enctype="multipart/form-data" action="/"><button class="btn btn-light fs-5 py-2 px-4" type="button" style="transform: translateY(15px);width: 389px;margin-bottom: 50px;"><input class="form-control" type="file" style="transform: translateX(47px);color: var(--bs-gray-900);background: rgba(255,255,255,0);border-width: 1px;width: 248px;" name="uploaded-file"></button><br><input class="btn btn-light fs-5 py-2 px-4" type="submit" value='Submit'/></form><br><p>{{upload_status}}</p>
                                <form action="/show_image"><br><input class="btn btn-light fs-5 py-2 px-4" type="submit" value='View Output'/></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6">
                    <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="static/img/SourCreamyFantail-max-1mb.gif"></div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-center">
                    <div style="max-width: 350px;">
                        <h2 class="text-uppercase fw-bold">Processing your fmri file&nbsp;</h2>
                        <p class="my-3">{{process_stat}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>OUTPUT</h2>
                    <p class="w-lg-50">The final image generated after processing the fMRI file is displayed below</p>
                </div>
            </div>
            <div class="row gx-5 gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center" style="transform: scale(1.26);margin-top: -1px;">
                <div class="col">
                    <div class="card" style="border-width:0px ;"><img class="card-img-top w-100 d-block fit-cover" style="height: 400px;width: 400px;" src="{{act_image}}">
                        <div class="card-body p-4">
                            <h4 class="card-title">Actual Image</h4>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="border-width:0px ;"><img class="card-img-top w-100 d-block fit-cover" style="height: 400px;width: 400px;" src="{{gen_image}}">
                        <div class="card-body p-4">
                            <h4 class="card-title">Generated Image</h4>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="scope" class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Scope</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Crime Detection</h3>
                                <p class="card-text">The fMRI data of the criminal maybe used to reconstruct the crime scene or The fMRI data of the witness can be used to determine the criminal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Dream Reconstruction</h3>
                                <p class="card-text">Ever had a dream and had trouble recalling what you dreamt. Well now you can reconstruct scenes from your dream to help you recall all your lucid dreams.&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-4 py-xl-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 id="our_team">Our Team</h2>
                    <p class="w-lg-50">Imagre would not exist without the hard work of this team.<br></p>
                </div>
            </div>
            <div class="row gy-4 row-cols-2 row-cols-md-4">
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Swachithh.jpeg" style="transform: scale(1);">
                            <h5 class="fw-bold text-primary card-title mb-0">Swachithh</h5>
                            <p class="text-muted card-text mb-2">Modelling</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Shishir.jpeg">
                            <h5 class="fw-bold text-primary card-title mb-0">Shishir</h5>
                            <p class="text-muted card-text mb-2">Business and Scope</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Divyansh.jpeg">
                            <h5 class="fw-bold text-primary card-title mb-0">Divyansh</h5>
                            <p class="text-muted card-text mb-2">Security and Compliances</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Danvanth.jpeg">
                            <h5 class="fw-bold text-primary card-title mb-0"><strong>Danvanth</strong></h5>
                            <p class="text-muted card-text mb-2">Data Preprocessing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4 row-cols-2 row-cols-md-4 justify-content-center" style="text-align: center;padding-top: 35px;">
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Pratham.jpeg">
                            <h5 class="fw-bold text-primary card-title mb-0">Pratham</h5>
                            <p class="text-muted card-text mb-2">Modelling</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 shadow-none">
                        <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="static/img/team/Jesher.jpeg">
                            <h5 class="fw-bold text-primary card-title mb-0">Jesher</h5>
                            <p class="text-muted card-text mb-2">Deployment and Design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="social-icons"><a href="#" style="transform: scale(2);"><i class="icon ion-social-github text-black-50" style="transform: scale(1);"></i></a><br><a href="#top" style="transform: scale(2);background: rgba(197,201,210,0);border-color: rgba(255,255,255,0);margin-top: 37px;"><i class="icon ion-chevron-up text-secondary"></i></a></div>
        </div>
    </footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>